<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
    <div id="app">
        <nav id="navbar">
            <span class="nav-el">Team Police Accountability</span>
            <span class="nav-el"><a href="#/contacts" v-on:click="tab = 'contacts'">Search</a></span>
            <span class="nav-el"><a href="#/about" v-on:click="tab = 'about'">>About</a></span>
            <span class="nav-el"><a href="#/template" v-on:click="tab = 'template'">>Template</a></span>
            <span class="nav-el"><a href="#/connect" v-on:click="tab = 'connect'">>Connect</a></span>
        </nav>
        <div class="template-tab" v-if="tab == 'template'">
            <h1>Template for contacting Representatives or LEOs</h1>
            <div>
                <complaint-template/>
            </div>
        </div>
        <div class="about-tab" v-if="tab == 'about'">
            <h1>About Us</h1>
            <div>

                <div>
                    Law enforcement institutions in the United States are not subject to the same checks and balances as regular citizens. Practices such as qualified immunity and civil asset forfeiture have led to abuses of power by law enforcement agencies, including violence against citizens.
                </div>

                <div>
                    Our mission is to connect civilians who have been harassed, abused, or detained by law enforcement with  legal representation who specialize in civil rights.
                </div>

                <div>
                    Additionally, we want to provide those who have suffered injustice and mistreatment with a singular resource to contact their local, state, and national representatives in order to enact change, and hold officers, agencies, and overseeing bodies accountable.
                </div>

                <div><h3>Actions</h3></div>

                <div>
                    If you believe your rights have been violated, you are entitled to file a criminal complaint with the Federal Bureau of Investigation (FBI), and/or a civil complaint under the Police Misconduct Statute through the Department of Justice’s Civil Rights Division. We also encourage you to submit a copy of your complaint to all offices representing your constituency, using the following form letter.
                </div>
            </div>
        </div>
        <div class="connect-tab" v-if="tab == 'connect'">
            connect
        </div>
        <div class="contacts-tab" v-if="tab == 'contacts'">
            <h1>Know who to call in your fight for justice</h1>
            <div>Zip Code: <input v-model="zip"></div>
            <button v-on:click="fetchContacts">Get Contacts</button>
            <div v-if="contacts != null">
                <div class="legal-title">Legal Contacts</div>
                <ul class="legal-list">
                    <suit-contact-card v-for="legal in contacts.legal_resources" v-bind:contact="legal"/>
                </ul>
                <div class="elected-title">Elected Contacts</div>
                <ul class="elected-list">
                    <politico-contact-card v-for="government in contacts.government_resources" v-bind:contact="government"/>
                </ul>
                <div class="government-title">Government Contacts</div>
                <ul class="government-list">
                    <leo-contact-card v-for="leo in contacts.law_enforcement_resources" v-bind:contact="leo"/>
                </ul>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    Vue.component('contact-card', {
        props: ["contact"],
        template: `
        <li>
            <div class="contact-card">
                <div class="contact-organization">{{ contact.organization }}</div>
                <div class="contact-contact_name">{{ contact.contact_name }}</div>
                <div class="contact-phone_number">{{ contact.phone_number }}</div>
                <div class="contact-address">{{ contact.address }}</div>
                <div class="contact-url">{{ contact.url }}</div>
                <div class="contact-email">{{ contact.email }}</div>
            </div>
        </li>
        `
    })

    Vue.component('leo-contact-card', {
        props: ["contact"],
        template: `
        <li>
            <div class="contact-card">
                <div class="contact-name"><a href="{{ contact.url }}"> {{ contact.name }}</a></div>
                <div class="contact-state">{{ contact.state }}</div>
            </div>
        </li>
        `
    })

    Vue.component('politico-contact-card', {
        props: ["contact"],
        template: `
        <li>
            <div class="contact-card">
                <div class="contact-name">{{ contact.name }}</div>
                <div class="contact-phones">{{ contact.phones }}</div>
                <div class="contact-urls">{{ contact.urls }}</div>
                <div class="contact-emails">{{ contact.emails }}</div>
            </div>
        </li>
        `
    })

    Vue.component('suit-contact-card', {
        props: ["contact"],
        template: `
        <li>
            <div class="contact-card">
                <div class="contact-name">{{ contact.lawyer_name }}</div>
                <div class="contact-firm">{{ contact.lawyer_firm_name }}</div>
                <div class="contact-phone">{{ contact.phone_number }}</div>
                <div class="contact-addr">{{ contact.street_address }}, {{ contact.city }}, {{ contact.state }}, {{ contact.zipcode }}</div>
                <div class="contact-emails">{{ contact.emails }}</div>
            </div>
        </li>
        `
    })

    Vue.component('complaint-template', {
        props: [],
        template: `
        Bolded sections should be completed by the individual complainant

        Your Address
        Your Phone Number
        Your Email Address (if sending via email)

        Date
        Name of person letter refers to (if available)
        Name of agency letter refers to
        Street Address

        Dear Representative (e.g. state governor, Dept. of Justice, local law office):

        Re: (issue described)

        On (date), I (observed, experienced) a (breach of social justice) at (location and other important details).

        Details of the experience (e.g. unlawful arrest or brutality; injuries sustained; evidence of similar misconduct - a “pattern or practice” of misconduct builds a stronger case) including details of officers involved if applicable. This event was an example of (kind of misconduct covered by law: excessive force, sexual assault, intentional false arrests, theft, intentional fabrication of evidence resulting in a loss of liberty to another, unlawful stops, searches or arrests.). I believe this event occurred on the basis of my (race, color, national origin, sex, religion, disability, other protected class. NOTE: law enforcement misconduct law does not require that any racial, religious, or other discriminatory motive existed.).

        To resolve the problem, I would appreciate your (state the specific action you want: governmental action, orders to end the misconduct, changes in the agency's policies and procedures that resulted in or allowed the misconduct, fines, or imprisonment). Enclosed are copies (do not send originals) of my records (include video, testimonies).

        I look forward to your reply and a resolution to the (observed, experienced) injustice. Please contact me at the above address or by phone at (home and/or office numbers with area code).

        Sincerely,
        Your name

        `
    })

    var app = new Vue({
      el: '#app',
      data: {
        tab: "contacts",
        zip: "",
        contacts: null
      },
      methods: {
        fetchContacts: async function() {
            const res = await axios.get(`http://` + location.hostname + `:` + (location.port?location.port:80) + `/` + this.zip);
            this.contacts = res.data
            console.log(this.contacts);
            return res
        }
      }
    })
</script>
